.slogen {
  margin-top: 0;
  height: 46rem;
  background-image: url('/assets/1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
}

.greeting1{
  color:white ;
  font-size: 4.5rem;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  line-height: 4rem;
  position: absolute;
  top: 30%;
  left: 10%;
  text-align: center;
}

.greeting2{
  color:white ;
  font-size: 4.5rem;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  line-height: 4rem;
  position: absolute;
  top: 50%;
  right: 10%;
  text-align: center;
}

.md-card-wrapper{
padding-right: 40px;
padding-left: 40px;
text-align: center;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
font-size: 50px;
}

.column {
    width: 50%;
    columns: gap 100px;
    display: inline-block;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


.centre h1{
    font-size: 2rem;
    font-family: 'Jost', sans-serif;
  }

.centre h2{
  font-size: 1.5rem;
  text-align: justify;
  line-height: 1.8rem;
  font-family: 'Jost', sans-serif;
}


h3{
  font-size: 1rem;
  text-align: justify;
  line-height: 2rem;
  font-family: 'Jost', sans-serif;

}


.mat-raised-button{
  height:20px;
  width:20px;
  font-size:20px ;
  margin-left:-100px;
  display: table-cell;
  background-color: #e7e7e7;
 
}
    

.img-container h3{
  width: 400px;
  line-height: 1.5rem;
  margin-top: 10px;

}

.img-container span{
  display: inline-block;
  margin-left: 100px;
  margin-top: 30px;
}

.img-container span a{
  text-decoration: none;
}



#intro{
  min-width: 330px;
}

.img-container img{
  min-width: 300px;
  margin-top: 20px;
}

@media only screen and (max-width: 480px){
  .img-container img{
    width: 300px;
  }

  .img-container h3{
    width: 300px;
    line-height: 1.5rem;
    margin-top: 10px;
  }

  .img-container span{
    display: inline-block;
    margin-left: 50px;
    margin-top: 5px;
  }
  .greeting1{
    font-size: 2rem;
  }

  .greeting2{
    font-size: 2rem;
  }

 
}

@media only screen and (min-width: 480px) and (max-width: 800px){

  .container img{
    width: 200px;
    margin-left: 40px;
    }

   .container h3{
      width: 250PX;
      margin-left: 50px;

    }
}