<div>
    <img src=" ../assets/people.jpg" alt="Care for the Elderly" width="960" height="640">

    <div style="width: 960px; margin: 30px auto; text-align: justify;">
        <p>Older people make a considerable proportion of Australia’s population. With a steeper increase in their
            community
            across Australia,
            there is a dire need to comprehend the difficulties faced by the elderly.
             In Melbourne, the majority of elderly people are using residential aged care or home services for their
            needs.
            Choosing the right aged care service, which will mainly focus on their difficulties and help them feel safe
            and
            secure,
            proves to be the toughest decision. Hence,
            helping the elderly in finding the appropriate aged care forms a vital part of our website for those settled
            in
            Melbourne.   </p>
    </div>

    <div class="btn-container">
        <button mat-stroked-button routerLink='/aged-care-search' type="submit" color="primary">Find Aged Care</button>
    </div>
    
    <hr style="margin: 10px auto;">
    <div style="width: 960px; margin: 20px auto; text-align: justify;">
        <p>
            In order to help elderly manage their expenses, our website analysis the average montly expenditure 
            of different age groups. We set up some questions, on answering those questions user can know how much 
            their aged group can save on some items. Users can also see a pie chart which shows the consumption 
            pattern of different aged groups.
        </p>
    </div>
    <div class="btn-container">
        <button mat-stroked-button routerLink='/financial' type="submit" color="primary">Financial</button>
    </div>
</div>