<img class="img-center" src="../assets/care-for-elder.png" alt="Care for the Elderly">
<div class='spacer-height'></div>
<div class="mat-display-2 aged-headline">About</div>
<div class='small-spacer-height'></div>

<div class="mat-subheading-1">GoldenStick as a single mission of helping the elderly people find the best Aged care at
  their
  preferred location,
  which will help them in leading a peaceful and quality life. They have worked hard all these years for the development
  of the community. Hence they are the biggest treasure to our society. Our website aims to help these elderly
  irrespective of caste, color, or creed so that they can lead a healthy and happy life. Our vision is to end
  homelessness.</div>

<div class='spacer-height'></div>
<div class="mat-title">How goldenstick works?</div>
<div class='small-spacer-height'></div>
<mat-divider class='black-divider'></mat-divider>
<div class='small-spacer-height'></div>
<div class="mat-subheading-1">
  Our aim is to help the elderly by giving them a chance to compare different Aged Care present at their preferred
  location based on different parameters. This will help them choose the best-aged care who will cater to their needs
  and help them lead a quality life and avoid the risk of becoming homeless.It is always better to plan your future
  expenses. So our website aims to give some help to the elderly people which will help them plan their expenses in
  order to avoid future financial instability.
</div>
<div class='spacer-height'></div>
<div class="mat-title">Contact Us</div>
<div class='small-spacer-height'></div>
<mat-divider class='black-divider'></mat-divider>
<div class='small-spacer-height'></div>
<div class="mat-subheading-1">Hello@goldenstick.com</div>
<div class="mat-subheading-1">+61 478 816 786</div>
<div class='spacer-height'></div>
<div class='spacer-height'></div>
<div class='spacer-height'></div>
<div class='spacer-height'></div>
