.financial{
    margin-top: 0;
    height: 30rem;
    background-image: url('/assets/financial.jpg');
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover ;
    font-family: 'Jost', sans-serif;
  }

.greeting{
    margin: 0 auto;
    margin-top: 30px;
    line-height: 40px;
    width: 80%;
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-size: 2rem;   
    font-weight: 600;
}

form{
    width: 60%;
    height: 50%;
    border-radius: 5px;
    box-shadow: gray;
    text-align: center;
    margin: 0 auto;
}

label{
    float: left;
    font-size: 0.8rem;
}

p {
    margin-bottom: 25px;
}

.form-group{
    margin-top: 30px;
}

.btn-primary{
    float: right;
}

.sentence1{
    margin: auto;
    margin-top: 10rem;
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    width: 75%;
    
}

.sentence2{
    width: 70%;
    margin: auto;
    margin-top: 50px;
    text-align: justify;
    font-family: 'Jost', sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    
}

button{
    width: 4rem;
    height: 2rem;
    font-size: 1rem;
    border: none;
}

.tips h1{
    margin: auto;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Jost', sans-serif;
    font-size: 1.5rem;
    width: 75%;
    font-weight: 600;
}

ul{
    margin:0;
    padding:0;
    text-align: left;
} 

.tips{
    text-align: justify;
    width: 80%;
    margin: auto;
}

.tips b{
    margin-left: 0;
    text-align: left;
    font-size: 1.2rem;

}

.tips h3{
    width: 100%;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Jost', sans-serif;
    text-align: justify;
    font-size: 20px;
    line-height: 30px;

}

.tips h3:hover{  
    overflow: visible;
    white-space: normal;
}  


.financial-tip{
    text-align: center;
}

@media screen and (max-width: 400px) {

    .financial{
        margin-top: 0;
        width: 100%;
        height: 15rem;
        background-repeat: no-repeat;
        display: flex;
        background-size: cover ;
      }
    .greeting{
        margin-top: 30px;
        line-height: 1.2rem;
        width: 80%;
        text-align: center;
        font-family: 'Jost', sans-serif;
        font-size: 0.8rem;   
        font-weight: 600;
    }
    form{
        width: 60%;
        height: 50%;
        border-radius: 5px;
        box-shadow: gray;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 5rem;
    }

    .sentence1{
        width: 80%;
        margin-top: 5rem;
        text-align: center;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-family: 'Jost', sans-serif;
        
    }
    
    .sentence2{
        width: 80%;
        margin-top: 50px;
        text-align: center;
        text-align: justify;
        font-family: 'Jost', sans-serif;
        font-size: 0.7rem;
        line-height: 1rem;
    }


}
