<div class="slogen"></div>

<h1 class="greeting1">
    Welcome to GoldenStick
</h1>

<h1 class="greeting2">
    Your Helping Hand!
</h1>

<div class='small-spacer-height'></div>

<div class="container">

    <div class="centre">
        <h1>
            Our Services
        </h1>
        <h2>
            Here, in GoldenStick, our services focus on helping the
            elderly to avoid the risk of becoming homeless by giving them the opportunity to
            choose and compare aged care facilities in Melbourne based on their needs and also help plan their expenses.
        </h2>
    </div>

    <div style="width: 100%; margin: 30px auto; text-align: center;">

        <div class='small-spacer-height'></div>
            <div class="row">
                <div class="column">
                    <div style="padding-right: 100px;">
                        <img src="../../assets/4.jpg" width="100%" height="auto">
                        <div class='small-spacer-height'></div>
                        <div class='small-spacer-height'></div>
                        <div class='small-spacer-height'></div>
                        <h3>Choosing the right aged care service, proves to be the toughest
                            decision.Hence, helping you find the appropriate aged care forms a vital part
                            of our website.</h3>
                        <span>
                            <a mat-raised-button style="color:orangered" routerLinkActive="color-white"
                                routerLink='/aged-care-search'>Find Aged Care</a>
                        </span>
                    </div>
                </div>
            
                <div class="column">
                    <div style="padding-left: 100px;">
                        <img src="../../assets/3.jpg" width="100%" height="auto">
                        <div class='small-spacer-height'></div>
                        <div class='small-spacer-height'></div>
                        <div class='small-spacer-height'></div>
                        <h3>Manage your expenses by answering a few questions and
                            find out how much your age group spends on some items.</h3>
                            <div class='small-spacer-height' style='height: 31.95px;'></div>

                    
                        <span>
                            <a mat-raised-button style="color:orangered" routerLinkActive="color-white"
                                routerLink='/financial'>Financial Tips</a>
                        </span>
                    </div>
                </div>
            </div>
        <div class='small-spacer-height'></div>
    </div>

</div>
