.app-header {
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;
    width: 100%;
  }
  
  .mat-button{
    height:20px !important;
    width:30px !important;
    font-size:20px !important;
    margin-left:-100px;
    display: table-cell;
  }
  
  .inline-flex-center{
    font-size: 30px;
  }
  