.app-header {
  display: flex;
  flex: 1 0 auto;
  justify-content: space-between;
  width: 100%;
  height:10rem;
  
}

.mat-button{
  height:20px !important;
  width:30px !important;
  font-size:20px !important;
  margin-left:-100px;
  display: table-cell;
  line-height: 80px;
}

.mat-button:hover{
  color: white !important;  
}


.inline-flex-center{
  font-size: 30px;
}


.mat-raised-button{
  height:20px !important;
  width:20px !important;
  font-size:20px !important;
  margin-left:-100px;
  display: table-cell;
  background-color: #e7e7e7;
}

.large-spacer-height{
  height: 200px;
}

.heading_text{
  color:orangered;
}


a{
  text-decoration: none;
  font-size: 1.8rem;
}

.navbar{
  width: 100%;
  background-color: rgba(199, 199, 197, 0.7);
  margin-bottom: 1rem;

}

.navbar-light  {
  border-color: rgba(143, 139, 139, 0.1);
  position: absolute;

}

.nav-item{  
  margin-right: 15rem;
  }

@media only screen and (max-width: 480px){
  #homelogo{
    display:none;
  }
}