<nav class="navbar navbar-expand-lg navbar-light">

  <a class="navbar-brand"  routerLink='/Home'>Golden Stick</a>
  <button class="btn btn-secondary dropdown-toggle navbar-toggler" 
    type="button"  
    data-toggle="dropdown" 
    data-target="#navbarTogglerDemo01" 
    aria-controls="navbarTogglerDemo01"
    aria-label="Toggle navigation"
    aria-expanded="false">

    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink='/Home'>Home <span class="sr-only">(current)</span></ a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink='/aged-care-search'>Find Aged Care</ a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" routerLink='/financial'>Financial Planning</ a>
          </li>
      </ul>
      
    </div>
</nav>

<section class="container-margin-main">
  <router-outlet></router-outlet>
</section>

