<div class="find-back"></div>

<h2 class="mat-display-2 aged-headline" style="font-family: 'Jost', sans-serif;">
  Better Times Begin From Here!
</h2>

<h1 class="mat-h1 aged-headline" >
  Our website helps elderly people find long-term accommodation so that 
  they can lead and maintain a quality life for themselves
</h1>

<div class="centre" style="font-family: 'Jost', sans-serif;">Features</div>

<div class="img-container" style="font-family: 'Jost', sans-serif;">

  <div>
    <img src="../../assets/img1.jpg" width="140" height="140">
    <h3>
      Find Aged Care Facilities at your preferred location.
    </h3>
  </div>

  <div>
    <img src="../../assets/img2.png" width="140" height="140">
    <h3>
      Compare between different aged care facilities.
    </h3>
  </div>

  <div>
    <img src="../../assets/img3.jpg" width="140" height="140">
    <h3>
      Choose the aged care that best suits your needs !
    </h3>
  </div>
</div>

<div class="find-container" >
  <div class="centre" style="font-family: 'Jost', sans-serif;" >Why Choose Us ?</div>
  <div style="text-align: center; font-size: 1.2rem; font-family: 'Jost', sans-serif;">We care for our elderly because they deserve the best !</div>
  <div style="text-align: center; margin-top: 3%; font-family: 'Jost', sans-serif;">Enter Postcode and Select Organisation to proceed</div>
</div>

<form [formGroup]="searchPincodeForm">
  <div class="flexy-grid">
    <mat-form-field appearance="outline" class="field">
      <mat-label style="font-family: 'Jost', sans-serif;" >Enter Postcode</mat-label>
      <input matInput formControlName="zipcode" placeholder="Enter Postcode">

      <button mat-button matPrefix mat-icon-button aria-label="Search">
        <mat-icon fontSet="material-icons-outlined">search</mat-icon>
      </button>
    
      <mat-error *ngIf="searchPincodeForm.controls.zipcode?.errors?.invalid">
        Please enter valid Postcode
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="field">
      <mat-label>Organization</mat-label>
      <mat-select formControlName="organizationtype">
        <mat-option *ngFor="let label of organizationtypeList" [value]="label">
          {{label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-error *ngIf="searchPincodeForm.errors?.noinput">Please select either zipcode or organization type.</mat-error>

  <div class="small-spacer-height">

  </div>
  <!-- <mat-error class="mat-subheading-1">{{errorMessage$ | async}}</mat-error> -->
  <!-- <div class="small-spacer-height"></div> -->
  <div class="btn-container">
    <button mat-stroked-button type="submit" color="primary" 
      (click)="getHome(searchPincodeForm.controls.zipcode.value, searchPincodeForm.controls.organizationtype.value)">Search Now
    </button>
  </div>

</form>